<!DOCTYPE html>
{% load i18n %}
<html>
    <head>
        <title>Sportscal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        {% block body_tag %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>SportsCal</h1>
                <div>Welcome{% if request.user.is_authenticated %}, {{ request.user.username }}{% endif %}</div>
                <ul class="list-inline">
                {% if request.user.is_authenticated %}
                    <li>
                    <a href="{% url "list_events" %}">{% trans "List activities" %}</a>
                    </li>
                    <li>
                    <a href="{% url "create_activity" %}">{% trans "New activity" %}</a>
                    </li>
                {% else %}
                    <li>
                    <a href="{% url "account_login" %}">{% trans "Login" %}</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">{% block content %}{% endblock %}</div>
        </div>
        {% endblock %}
    </body>
</html>
